
<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="card col-md-3 style="width: 18rem;">
      <%= form_tag("/login_tutor", method: "post", class: "my_class") do %>   
        <h3 class="card-title my-4 mx-3 text-info font-bold">Log in</h3>
        <div class="form-group">
          <div class="col-md-12 mb-3">
            <%= label_tag :username %>
            <%= text_field_tag :username %>
          </div>
          <div class="col-md-12 mb-3">
            <%= label_tag :password  %>
            <%= password_field_tag :password %>
          </div>
          <div class="col-md-6 mb-3">
            <%= submit_tag"Login", type: "submit", class: "btn btn-outline-success" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>