
<%= render "/nav/navbar" %>
  <h1 style="position:absolute; left: 42.5%; top:13%; font-size: 3rem; color: #eeeeee; text-shadow: 1px 1px 5px #393e46;">Tutor Login</h1>
  <div class="tutoringapp2">
  <% if flash[:notice] %>
          <p class="flash_notices"><%= flash[:notice] %></p>
        <% end %>
      <%= form_tag("/login_tutor", method: "post", class: "form_for_login") do %>   
        <div class="both_parts">
          <div class="login_username">
            <%= label_tag :username %>
            <%= text_field_tag :username %>
          </div>
          <div class="login_password">
            <%= label_tag :password %>
            <%= password_field_tag :password %>
          </div>
            <%= submit_tag"Login", type: "submit", class:"my_buttons"%>
        </div>
      <% end %>
   </div>