
<h1 class="edit_text_form">Edit Info</h1>
<div class="forms_centering">
<% if @errors %>
    <ul>
        <% @errors.each do |error|%>
            <li style="color:blue;"><%= error %></li>
        <%end %>
    </ul>
<% end%>

<%=form_for @tutor, html: { class: "form_container_edit" } do |f|%>
<h1>Authorization Info</h1>
    <div class="user_auth">
    
        <div>
        <%= f.label :username%>
        <%= f.text_field :username %>
        </div>

    <div style="flex-direction:row; gap:20px;">
        <div>
        <%= f.label :password%>
        <%= f.password_field :password %>
        </div>

        <div>
        <%= f.label :password_confirmation%>
        <%= f.password_field :password_confirmation %>
        </div>
    </div>
    </div>
    <h1>Personal Info</h1>
    <div class="user_auth">
        <div style="flex-direction:row; gap:20px;">
        <div>
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
        </div>

        <div>
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
        </div>
        
        <div>
            <%= f.label :age %>
            <%= f.number_field :age %>
        </div>
        </div>
        <div style="flex-direction:row; gap:20px;">
        <div>
            <%= f.label :education_level %>
            <%= f.text_field :education_level %>
        </div>

        <div>
        <%= f.label :subjects %>
        <%= f.text_field :subjects%>
        </div>
        </div>
        </div>
    <h1>Address Info</h1>
        <div class="user_auth">
            <div>
                <%= f.label :address %>
                <%= f.text_field :address%>
            </div>
                <%= f.fields_for :city_id do |c| %>
            <div>
            <div style="flex-direction:row; gap:20px;">
            <div>
                <%= c.label :name, "City"%>
                <%= c.text_field :name, value:"#{@city.name}", list: "cities_autocomplete" %>
                <datalist id="cities_autocomplete">
                    <% @cities.each do |city| %>
                    <option value="<%= city %>">
                    <% end %>
                </datalist>
                </div>

                <div>
                    <%= c.label :state %>
                    <%= c.text_field :state,value:"#{@city.state}", list: "state_autocomplete" %>
                <datalist id="state_autocomplete">
                    <% @states.each do |state| %>
                    <option value="<%= state %>">
                    <% end %>
                </datalist>
                </div>
                </div>
            <% end%>
            <%= f.submit "Submit", class: "my_buttons" %>
            <% end%>
        </div>
    </div>
</div>