<%= simple_form_for :search, url: tutors_path, method: "GET", html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :state, input_html: {value: ""},input_html: {list:"states_autocomplete" }, required: false%>  
            <datalist id="states_autocomplete">
                <% City.all.map{|ins| ins.state}.uniq.each do |state| %>
                <option value="<%= state %>">
                <% end %>
            </datalist>
 <%= f.input :city, input_html: {value: ""},input_html: {list:"cities_autocomplete" }, required: false%>  
            <datalist id="cities_autocomplete">
                <% City.all.map{|ins| ins.name}.uniq.each do |city| %>
                <option value="<%= city %>">
                <% end %>
            </datalist> 
<%= f.input :subjects, label: "Subjects",  collection: Tutor.get_subjects, as: :check_boxes, required: false %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>
<br>
<hr>




<% if !@tutors.nil?%>
    <% if !@tutors.empty?%>
    <div class="tutors_flexes">
        <% @tutors.each do |tutor| %>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                    <% if tutor.photo.attached? %>
                        <img src="<%= (url_for(tutor.photo)) %>" alt="Avatar" style="width:300px;height:300px;">
                    <% else%>
                        <img src="https://fertilitynetworkuk.org/wp-content/uploads/2017/01/Facebook-no-profile-picture-icon-620x389.jpg" alt="Avatar" style="width:300px;height:300px;">
                    <% end%>
                    </div>
                    <div class="flip-card-back">
                    <h1><%= tutor.full_name %></h1>
                    <p><%= tutor.age %></p>
                    <p><%= tutor.city.name %></p>
                    </div>
                </div>
            </div>
        <% end%>
        </div>
    <% else %>
        <h1>There's nothing to show!</h1>
    <% end %>
<% else %>
    <h1>There's nothing to show!</h1>
<% end%>


